.body {
    display: flex;
    min-height: 100vh;
}


.main {
    background-color: blue;
    padding: 40px;
    display: flex;
    flex-direction: column;

    .main__link {
        color: #fff;
        padding: 10px 0;
    }
}
